$primary-color: grey;
$gray-header: #575d6d;
$dark: #3b3b3b;
$white: #ffffff;
$blue: #0076be;
$lightBlue: #78abb7;
$grey: #ececec;
$red: #c03c12;
$light-red: #ff0149;
$darkRed: #631c00;
$orange: #cd6b19;
$yellow: #fbb900;

$green: #28ac7b;